/* font */

@font-face {
    font-family: 'BambusaW01';
    src: local('font/Bambusa W01 Regular'), local('font/BambusaW01-Regular'),
     url('font/BambusaW01-Regular.woff2') format('woff2'),
        url('font/BambusaW01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font1 {
    font-family: 'BambusaW01';
    font-weight: normal;
    font-style: normal;
    font-size: 45px;
    text-decoration: none;
    color:black
    
}

    .font2
    {
        font-family: 'Montserrat', sans-serif;
    }

    .font3
    {
        font-family: 'Bodoni Moda', serif;
    }
    /* fine font */