*
{
    padding: 0;
    margin: 0;
    color: #ffffff;
    
}

html,body
{
    height:100%;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Bodoni Moda', serif;
    background-color: #f5e8d8;
}

.nascondi1
{
display: none!important;
}

.grandezzalogo
{
    height:81px;
}

.padmenu
{
    padding-left: 3rem;
    padding-right: 3rem;
}

.padham
{
    padding-left: 4rem;
    padding-right: 4rem;
}

.altbutmenu
{
    height: 100px;
}

.bkcolormen
{
    background-color:  #ddd3c9;
    
}

.appiccicoso
{
position: sticky;
}

/* header */

.principale
{
    height:100vh;
    
    background-image: url("../image/homeimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    width: 100%;
    display: flex;
}

.titolo
{
    padding-top: 10rem;
    width: 33%;
    text-align: right;
    padding-right: 6rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Bodoni Moda', serif;
    margin: auto;
}
.titolo0
{
    padding-top: 10rem;
    width: 33%;
    text-align: right;
    padding-right: 6rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Bodoni Moda', serif;
    margin: auto;
}
.titolo01
{
    padding-top: 10rem;
    width: 33%;
    text-align: right;
    padding-right: 6rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Bodoni Moda', serif;
    margin: auto;
}

.titolo h1
{
 font-size: 5rem;
 font-weight: 800;
 color: white;


 text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}
.titolo p
{
 font-size: 2rem;
 font-weight: 550;
 color: white;
 text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}
/* header */
/* 
sezione2 */

.sezione2
{
    
    margin:5rem;
}
.secondo{
    display: flex;
    background-image: url("../image/sez2img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grandezza
{
width: 45%;
height: 45%;
margin:5rem;
margin-top: 6rem;
}

/* .grandezzaho:hover
{
    width: 52%;
    height: 52%;
    transition: .5s;
} */

.grandezzaimg
{
width: 100%;
height: 100%;
}

.titolo2
{
    padding-top: 10rem;
    
    text-align: center;
    font-family: 'Bodoni Moda', serif;
    /* font-family: 'Montserrat', sans-serif; */
    margin: auto;
    position: relative;
    
}

.titolo2 h1
{
    font-size: 5rem;
    font-weight: 800;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

.titolo2 p
{
    font-size: 2rem;
    font-weight: 550;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

.btnn
{
    margin-top: 20px;
    position: absolute;
   
    background-color: #d9a6f1;
    color: white;
    border-radius: 90px;
    padding: 15px 60px 15px 60px;
    border: none;
    font-weight: 900;
    font-size: larger;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
   


}

.btnn:hover
{
    background-color: #9605da;
    transition: .5s;
    
    padding: 20px 70px 20px 70px;
    
    font-weight: 900;
    font-size: x-large;


}


/* separatori zig zag */

.border0
{
    background-color: #fffff6;
    text-align: center;
    color: #222220!important;
    font-size: 35px!important;

}



    .border1 {
        position: relative;
    }
    .border1:after {
        
        background: linear-gradient(-45deg, #fffff6 10px, transparent 0), linear-gradient(45deg, #fffff6 10px, transparent 0);
        background-position: left bottom;
        background-repeat: repeat-x;
        background-size: 12px 32px;
        content: " ";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 25px;
    }

    .border2 {
        position: relative;
    }
    .border2:after {
        background: linear-gradient(135deg,#fffff6 10px,transparent 0%), linear-gradient(-135deg,#fffff6 10px,
        transparent 0%);
        /* background: linear-gradient(-45deg, #ffffff 10px, transparent 0), linear-gradient(45deg, #ffffff 10px, transparent 0); */
        background-position: left top;
        background-repeat: repeat-x;
        background-size: 12px 32px;
        content: " ";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 25px;
    }

    /* zigzag menu */
    
    .fixed-top:after {
        background: linear-gradient(135deg,#f8f9fa 10px,transparent 0%), linear-gradient(-135deg,#f8f9fa 10px,
        transparent 0%);
        /* background: linear-gradient(-45deg, #ffffff 10px, transparent 0), linear-gradient(45deg, #ffffff 10px, transparent 0); */
        background-position: left top;
        background-repeat: repeat-x;
        background-size: 22px 32px;
        content: " ";
        display: block;
        position: absolute;
        bottom: -21px;
        left: 0px;
        width: 100%;
        height: 25px;
    }
  
/* fine separatori zig zag */




